<section class="user-section">
    <h2><%= "Name: #{@user.name}" %></h2>
    <article class="timeline">
        <h3>Recent posts:</h3>
        <ul class="posts">
            <%= render @posts %>
        </ul>
    </article>





    <ul class="pending-req">
        <h2>Pending requests:</h2>
        <% @pendings.each do |pending|%>
        <p> <%= pending.receiver.name %> </p>
        <% end %>
    </ul>


</section>